<!DOCTYPE html>
<!--
@Author: Gerardo Julio V. Ancheta Jr.
Group 11
Team members: Lochlann O Neill, Keith Bullman, Daniels Pikurs, Gerardo Ancheta Jr. 
Module: Year 04 Group Project
Date: 21/11/2020 
Fin-Ai Web app
tp.html
-->
<html lang="en">
	<head>
		<title>Fin-Ai</title>
		<meta charset="utf-8">
		<!--===============================================================================================-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--===============================================================================================--> 
		<link rel="stylesheet" type="text/css" href="./assets/css/indexStyles.css">
		<!--===============================================================================================--> 
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<!--===============================================================================================--> 
		<link rel="icon" type="image/png" href="img/finAi-logo.png" alt="Fin-Ai Logo"/>
		<!--===============================================================================================--> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!--===============================================================================================--> 
	</head>
	<body>
		<div class="main-container">
			<nav class="navbar">			
				<a href="index.html"><img src="img/finAi-logo.png" alt="Fin-Ai Logo" width="100px" height="50px"/></a>
				<div class="nav">
					<ul class="nav-links">
						<li><a href="index.html">Home</a></li>
					</ul>					
					<ul class="login">
						<li><button class="btnLogin"><a href="loginPage.php">Login</a></button></li>
						<li><button class="btnRegister"><a href="registerPage.php" style="color:#FFFFFF;">Register</a></button></li>
					</ul>
				</div>
			</nav>
		</div>
		<main>
			<section class="header" style="background-color: #AEC9D4;">
				<div class="head-content">
					<div class="hc">
						<h1 id="htitle">Fin-Ai</h1>
						<h2 id="htext"><br>ChatBox</h2>
                        <hr>
                        				
					</div>
				</div>				
			</section>	
		</main>
		<footer class="footer">
				<div class="footer-left">
					<p class="footer-links">
						<a href="index.html">Home</a>
						-
						<a href="#about">About</a>
						-
						<a href="#contact">Contact</a>
					</p>
					<a href="tp.html" style="color:#FFFFFF; margin-bottom: 20px;">Terms & Privacy</a>
					<p>Fin-Ai &copy; 2020</p>
				</div>		
		</footer>	
	</body>
</html>